@using System.Web.Mvc.Ajax
@using Recaptcha.Web
@using Recaptcha.Web.Mvc
@using CircleOfFunk.Helpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Circle Of Funk</title>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/favicon.ico")" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="fb-root"></div>
    <header>
        <div class="content-wrapper">
            <div class="float-left" style="margin-bottom: 10px">
                @Html.ActionLink(" ", "Index", "Home", null, new { @class = "logo" })
            </div>
            <div style="height: 208px">
                @{ Html.RenderPartial("_AccordionMenu"); }
            </div>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            <div class="fadebar float-left">
                <div class="register">
                    <img class="registerBtn" src="~/Images/register.png" alt="Register Now!" />
                </div>
                <div id="pageTitle"></div>
                <div class="register">
                    <img class="float-right registerBtn" src="~/Images/register.png" alt="Register Now!" />
                </div>
            </div>
            <div id="sentMessage" class="border-message float-left">
                Thank you for your message!
            </div>
            <div id="basic-modal-content">
                <h3>Basic Modal Dialog</h3>
                <p>For this demo, SimpleModal is using this "hidden" data for its content. You can also populate the modal dialog with an AJAX response, standard HTML or DOM element(s).</p>
                <p>Examples:</p>
                <p><code>$('#basicModalContent').modal(); // jQuery object - this demo</code></p>
                <p><code>$.modal(document.getElementById('basicModalContent')); // DOM</code></p>
                <p><code>$.modal('&lt;p&gt;&lt;b&gt;HTML&lt;/b&gt; elements&lt;/p&gt;'); // HTML</code></p>
                <p><code>$('&lt;div&gt;&lt;/div&gt;').load('page.html').modal(); // AJAX</code></p>

                <p><a href='http://www.ericmmartin.com/projects/simplemodal/'>More details...</a></p>
            </div>
            <div id="content" class="border float-left">
            </div>
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Circle Of Funk</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", false)
</body>
</html>
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script>
    $(function () {
        initialiseSite();
    });
</script>
