@using System.Web.Mvc.Ajax
@using CircleOfFunk.Helpers
@model Register

@using (Ajax.BeginForm("Register", "Registration", new AjaxOptions() { HttpMethod = "Post" }, new { id = "registerForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset id="contactus">
        <legend></legend>
        <table id="registerdata">
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Name)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Name)
                    </div>
                </td>
                <td>@Html.ValidationMessageFor(model => model.Name)</td>
            </tr>


            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email)
                    </div>
                </td>
                <td>@Html.ValidationMessageFor(model => model.Email)</td>
            </tr>
            <tr>
                <td></td>
                <td id="regcaptcha"></td>
                <td>@Html.Div("", "field-validation-error", "captchaMessage")</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="float-left" value="Register"/>
                </td>
            </tr>
        </table>
    </fieldset>
}