@using System.Web.Mvc.Ajax
@using CircleOfFunk.Helpers
@model Register

@using (Ajax.BeginForm("Register", "Registration", new AjaxOptions() { HttpMethod = "Post", OnBegin = "ClearRegMessages", OnSuccess = "CheckRegistrationMessage" }, new { id = "registerForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset id="register">
        <h3>Register to keep up to date with the latest COF happenings</h3>
        <legend></legend>
        <table id="registerdata">
            <tr>
                <td>
                    <div class="editor-label">
                        <label for="Email">Email<br />
                            Address</label>
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email)
                    </div>
                </td>
                <td>@Html.ValidationMessageFor(model => model.Email)</td>
            </tr>
            <tr>
                <td></td>
                <td id="regcaptcha"></td>
                <td>@Html.Div("", "field-validation-error", "regCaptchaMessage")</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="float-left" value="Register" />
                </td>

            </tr>
            <tr>
                <td></td>
                <td>@Html.Div("", "regMessage", "regThankYou")</td>
            </tr>
        </table>
    </fieldset>
}